body {
  font-size: 20px;
}
.input {
  width: 250px;
  height: 40px;
  padding: 5px 10px;
}
img {
  max-width: 100%;
  display: block;
  height: auto;
}
.card-img-top {
  width: 350px;
}
.card {
  position: relative;
}
.card-img-top {
  position: absolute;
  top: 80px;
  right: 350px;
  border: 1px solid black;
}
.card-title {
  text-align: center;
  font-size: 50px;
}
.main-card-text {
  font-weight: 700;
  font-size: 25px;
}
.card-body {
  margin-left: 350px;
}
.js-country-item {
  cursor: pointer;
}
.js-country-item:hover {
  color: aqua;
}
.js-countries-list {
  width: 250px;
}
